extends layout 
 
block content 
  h1= title 
  if (toShow == null)
    h2 No instance to delete
  else
    - let earphoneid = toShow._id
    - let Name = toShow.Name
    - let Manufacture_Location = toShow.Manufacture_Location
    - let price = toShow.price

    div.row(class='mb-2')
    div.mr-1 ID is
    div #{earphoneid}
    - let actionid = "/resource/earphone/" + earphoneid

    form(id='EarphoneForm', action=`/resource/earphone/${toShow._id}`, method="PUT") 
      div.form-group 
          label.earphoneAttr(for='Name') Earphone type 
          input#Name(type='text', name='Name' value=toShow.Name) 
      div.form-group 
          label.earphoneAttr(for='Manufacture_Location') Earphone Manufacture_Location 
          input#Manufacture_Location(type='text', name='Manufacture_Location' value=toShow.Manufacture_Location) 
      div.form-group 
          label.earphoneAttr(for='price') Earphone price 
          input#price(type='number', name='earphone_variants' value=toShow.price) 
      input(type="submit") 

    script. 
      document.forms['EarphoneForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
          method: 'PUT', 
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
          return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
          alert("Save succeded") 
          // TODO handle body 
        }).catch((error) => { 
          // TODO handle error 
          alert("Save failed " + error ) 
        }); 
      }); 